:root {
    --color1: #ede0d4;
    --color2: #e6ccb2 !important;
    --color3: #ddb892;
    --color4: #b08968;
    --color5: #9c6644;
    --color6: #7f5539;
    --color7: #4e3423;
  }

body{
  font-family: "Times New Roman" !important;
  background-color: var(--color2) ;
  overflow-x: hidden;
}

.choice-div{
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: space-around;
}

.choice-text{
    text-align: center;
}



@media screen and (max-width:1200px) {
    .choice-div{
        grid-template-columns: repeat(4,auto);
    }
}

